__pycache__/
*.pyc
config.env
animeroyhat.txt
/data/*
.env
!.env.example
.DS_Store
.vscode/
logs/
session/
railway/
__pypackages__/
celerybeat-schedule
instance/
*.sqlite3
*.db
*.log
*.pot
*.mo
*.egg-info/
coverage.xml
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
pytest_cache/
.pytest_cache/
.pyre/
mypy_cache/
.dmypy.json
.pytype/
.pyright/
.idea/
*.iml
*.ipr
*.iws
*.swp
thumbs.db
ehthumbs.db