<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aninovuz.css') }}">
    <title>Aninovuz</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="aninovuz.html"><h2><span>Aninovuz</h2><span></a>
        </div>
        <div class="search">
            <input type="text" placeholder="Search..." id="searchInput" name="searchInput">
            <button id="search-btn"  ><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        
        <div class="til">
            <section>
                <select name="language" id="language" onchange="changeLanguage()">
                    <option value="uzbek">Uzbek</option>
                    <option value="russian">Russian</option>
                    <option value="english">English</option>
                </select>
            </section>
        </div>
        <div class="login">
            <a href="login.html">Login</a>
        </div>
    </div>
    <div class="navbar2">
        <a href="index.html">Bosh sahifa</a>
        <a href="about.html">Ma'lumot</a>
        <a href="services.html">Anime list</a>
        <a href="contact.html">Tarix</a>
    </div>
    <div class="menu">
        <a href="#">Eng mashhur</a>
        <a href="#">Yangi animelar</a>
        <a href="#">Reyting</a>
        <div class="janr">
            <h3>Janrlar</h3>
            <select name="turi" id="turi" onchange="changeturi()">
                <option value="none">Hech biri</option>
                <option value="action">Action</option>
                <option value="adventure">Adventure</option>
                <option value="comedy">Comedy</option>
                <option value="drama">Drama</option>
                <option value="fantasy">Fantasy</option>
                <option value="horror">Horror</option>
                <option value="mystery">Mystery</option>
                <option value="romance">Romance</option>
                <option value="sci-fi">Sci-Fi</option>
                <option value="slice-of-life">Slice of Life</option>
            </select>
        </div>
    </div>
    <div class="main-container">
    <aside class="sidebar">
        <a href="#">Eng mashhur</a>
        <a href="#">Yangi animelar</a>
        <div class="janr">
            <select>...</select>
        </div>
    </aside>

    <main class="content">
        <h2>Yangi animelar</h2>
        <div class="anime-grid">
           <div class="anime-card">
                <img src="poster.jpg" alt="Anime nomi">
                <h3>Naruto</h3>
                <a href="https://t.me/aninovuz_bot?start=ani_{{anime_id}}" class="watch-btn">
                    Botda ko'rish <i class="fa-brands fa-telegram"></i>
                </a>
            </div>
        </div>
    </main>
</div>
<script src="{{ url_for('static', filename='js/aninovuz.js') }}"></script>
</body>

</html>
